:root {
    --cell-size: 100px;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    gap: 5px;
    background-color: #333;
    border: 5px solid #333;
    margin-top: 2rem;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover {
    background-color: #eee;
}

